.disk-switcher button {
  min-width: 34px;
  padding-left: 0px;
  padding-right: 0px;
}

.palettes-box {
  margin: 12px;
}

.palettes-box > .heading {
  margin-top: 12px;
  margin-bottom: 6px;
}

.palettes-box > flowbox > flowboxchild {
  border-radius: 6px;
  padding: 0;
}

.palettes-box > flowbox > flowboxchild:selected {
  box-shadow: 0 0 0 4px @accent_color, 0 0 0 1px @popover_bg_color;
}

button.orientation > image {
  transition: transform 250ms ease;
}

button.orientation.rotated > image {
  transform: rotate(90deg);
}

button.toggle-screen > image {
  transition: transform 250ms ease;
}

button.toggle-screen.flipped > image {
  transform: scaleY(-1);
}

.library-grid {
  background: none;
  color: inherit;
  padding: 12px;
  padding-top: 0;
}

.library-grid > child {
  margin: 12px;
  margin-top: 6px;
  margin-bottom: 0;
  background: none;
}

game-cover {
  min-width: 160px;
  border-radius: 12px;
  background: alpha(currentColor, .05);
}

game-cover.properties {
  min-height: 160px;
}

game-cover .empty {
  -gtk-icon-size: 48px;
  color: alpha(currentColor, .15);
}

.library-grid.compact game-cover {
  min-width: 128px;
}

.sidebar-icon:disabled {
  opacity: .385;
}

game-cover {
  transition-property: outline, outline-width, outline-offset, outline-color;
  transition-duration: 300ms;
  animation-timing-function: ease-in-out;
  border-radius: 12px;

  outline: 0 solid transparent;
  outline-offset: 1px;
}

library-grid-item:focus game-cover {
  outline: 5px solid alpha(@accent_color, .3);
}

.display {
  background: black;
  color: #f2f2f2;
}

.display .top-bar.raised {
  background: alpha(#181818, .9);
  color: white;
  box-shadow: 0 1px alpha(black, .9);
}

.display .top-bar.raised:backdrop {
  background: alpha(#111111, .9);
}

.display popover contents,
.display popover arrow {
  background: alpha(#181818, .9);
  color: white;
}

.loading {
  background: alpha(black, .5);
}

snapshot-thumbnail {
  background: black;
}
